{include file='public/header' title=$title/}
<title>关于我们</title>
<link rel="stylesheet" href="__CSS_PATH__about.css">

    <!-- banner开始 -->
    <!-- 公共部分结束 -->
    <div class="container">
        <div class="row">

            <div class=" about-box  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img src="__IMG_PATH__about/banner.jpg" alt="">
            </div>
            <!-- banner结束 -->
            <!-- 关于我们开始 -->
            <div class="about-wz  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-wz-left col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="about-xt col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="about-gywm col-lg-2 col-md-3 col-sm-3 col-xs-5">
                    <div class="about-gywm-wz  ">{$currnav.nname}</div>
                    <div class="about-gywm-Ab  ">{$currnav.ename}</div>
                </div>
                <div class="about-wz-right col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="about-xt col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
            </div>
            <!-- 关于我们结束 -->
            <!-- 关于我们文字开始 -->
            <!-- <div class="about-left col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
            <div class="about-left-l col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-left-l-top ">
                    <span>【牛奶宠物】于2006年涉足宠物业，以苏南地区的宠物产品分销业务为发展起始，
                        经过数十年的发展，当下公司已成为一家专注于宠物行业分销业务的企业，
                        公司秉承专业对宠，诚信对人的经营理念，以需求、专业、创新、分享为企业文化，
                        并以“优质宠物用品供应商”为企业定位。</span>
                </div>
                <div class="about-left-l-kb ">
                </div>
                <div class="about-left-l-top ">
                    <span>
                        我司聘请了专业的宠物美容师、资深兽医，为您的爱宠提供全方位的优质服务。
　　为保证您的宠物生活舒适、身体康健，公司设有专业的医疗室、美容室、洗浴室、隔离室及宠物用品超市等。
　　在院期间由我司专业兽医24小时巡诊，给您的宠物关心、精心、爱心、开心，也让你安心、放心</span>
                </div>
                <div class="about-left-l-kb ">
                </div>
                <div class="about-left-l-kb ">
                    <span>真诚期望能成为您的宠物之家！</span>
                </div>
            </div>
            <!-- 关于我们文字结束 -->
            <!-- 关于我们图片开始 -->
            <div class=" about-left-r col-lg-6 col-md-10 col-sm-12 col-xs-12">
                <img src="__IMG_PATH__about/a1.jpg" alt="">
            </div>
            <!-- 关于我们图片开始 -->
            <!-- 维修师傅开始 -->
            <div class="about-wz  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-wz-left col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="about-xt col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="about-gywm col-lg-2 col-md-3 col-sm-3 col-xs-5">
                    <div class="about-gywm-wz  ">宠物之家</div>
                    <div class="about-gywm-Ab  ">The Pet House</div>
                </div>
                <div class="about-wz-right col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="about-xt col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
            </div>
            <!-- 维修师傅结束 -->
            <!-- 维修师傅介绍开始 -->
            <div class="about-wxsf col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-wxsf-left col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="about-wxsf-fist">
                        <img src="__IMG_PATH__about/b1.jpg" alt="">
                    </div>

                    <div class="about-wxsf-top ">
                        <span>暖心金毛</span>
                        <!--<p>暖心</p>-->
                    </div>
                </div>
                <div class="about-wxsf-left col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="about-wxsf-fist">
                        <img src="__IMG_PATH__about/b2.jpg" alt="">
                    </div>
                    <div class="about-wxsf-top ">
                        <span>短腿柯基</span>
                        <!--<p>可爱</p>-->
                    </div>
                </div>
                <div class="about-wxsf-left col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="about-wxsf-fist">
                        <img src="__IMG_PATH__about/b3.jpg" alt="">
                    </div>
                    <div class="about-wxsf-top ">
                        <span>调皮泰迪</span>
                        <!--<p>诱鼻</p>-->
                    </div>
                </div>
                <div class="about-wxsf-left col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <div class="about-wxsf-fist">
                            <img src="__IMG_PATH__about/b4.jpg" alt="">
                        </div>
                        <div class="about-wxsf-top ">
                            <span>粘人猫咪</span>
                            <!--<p>粘人</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file='public/footer' /}
<script src="__JS_PATH__about.js"></script>
<script src="__JS_PATH__com.js"></script>