{include file='public/header' title=$title/}
    <title>服务项目</title>
    <link rel="stylesheet" href="__CSS_PATH__fwxm.css">
    <!-- 头部的黑色边框结束 -->
    <!-- 大图片的开始 -->
    <div class="container">
        <div class="row">
            <div class="picture1 col-lg-12 col-md-12  col-sm-12 col-xs-12">
                <img src="__IMG_PATH__service/banner.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- 大图片的结束 -->
    <!-- 标题的开始 -->
    <div class="container">
        <div class="row">
            <div class="big-box">
                <div class="tittle-left col-lg-5 col-md-5 col-sm-5 col-xs-4">

                </div>
                <div class="tittle col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <span class="tiittle-cn">
                                    {$currnav.nname}
                                </span>
                    <span class="tittle-en">
                                    {$currnav.ename}
                                </span>
                </div>
                <div class="tittle-right col-lg-5 col-md-5 col-sm-5 col-xs-4">

                </div>
            </div>
        </div>
    </div>
    <!-- 标题的结束 -->
    <!-- 主体部分的开始 -->
    <div class="subject">
        <div class="container">
            <div class="row">
                <div class="frame animate fadeInUp col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img src="__IMG_PATH__service/a1.jpg" alt="">
                    <div class="wenzi">
                        <a href="#">
                            <span>特色宠物美容</span>
                        </a>
                    </div>
                    <div class="henghang">
                        <img src="__IMG_PATH__service/横线.png" alt="">
                    </div>
                    <div class="word">
                        <span>美容技巧配合修剪技术凸显宠物的优点，可根据个人爱好和品种的不
同，给宠物做出不同造型，使宠物宝贝更容易打理。</span>
                    </div>
                </div>
                <div class="frame animate fadeInUp  col-lg-3 col-md-3 col-sm-12 col-xs-12">

                    <img src="__IMG_PATH__service/a2.jpg" alt="">
                    <div class="wenzi">
                        <a href="#">
                            <span>摄影服务项目</span>
                        </a>
                    </div>
                    <div class="henghang">
                        <img src="__IMG_PATH__service/横线.png" alt="">
                    </div>
                    <div class="word">
                        <span>宠物在某种程度上已成为了家庭成员，给宠物拍写真也就显得越来越有必要了。</span>
                    </div>
                </div>
                <div class="frame  animate fadeInUp col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img src="__IMG_PATH__service/a3.jpg" alt="">
                    <div class="wenzi">
                        <a href="#">
                            <span>开设训练服务</span>
                        </a>
                    </div>
                    <div class="henghang">
                        <img src="__IMG_PATH__service/横线.png" alt="">
                    </div>
                    <div class="word">
                        <span>宠物店可以与宠物驯练学校合作。开设这一项目。目的是纠正宠物日常的不良行为，让爱宠生活在我们的身边，更“文明”一些。</span>
                    </div>

                </div>
                <div class="frame  animate fadeInUp col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <img src="__IMG_PATH__service/a4.jpg" alt="">
                    <div class="wenzi">
                        <a href="#">
                            <span>宠物知识服务</span>
                        </a>
                    </div>
                    <div class="henghang">
                        <img src="__IMG_PATH__service/横线.png" alt="">
                    </div>
                    <div class="word">
                        <span>卖一些宠物书籍的书籍或是办一些宠物知识讲座，还可以和媒体合作，做一些宠物知识的传播活动组织宠友参加。</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 主体部分的结束 -->
{include file='public/footer' /}
<script src="__JS_PATH__com.js"></script>